.block
  display: flex
  flex-direction: column
  margin: 10px

  &__title
    margin-bottom: 6px
    text-transform: uppercase

  &__container
    display: flex

  // &__error

  &__input
    position: relative
    display: flex
    align-items: center
    padding: 10px

    font-size: 1.1rem
    font-family: var(--font-family)
    outline: none

    box-sizing: border-box

    color: #f82222
    background: #FFF
    background-clip: padding-box
    border: none
    border-radius: 10px

    &:focus-within::before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      margin: -2px
      border-radius: inherit
      background: var(--color-error)

    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      bottom: 0
      left: 0
      z-index: -1
      margin: -2px
      border-radius: inherit
      background: linear-gradient(to left, #743ad5, #d53a9d)

    // &::placeholder
    //   color: red