.card
  color: var(--color-white)

  &__front
    position: relative
    width: 400px
    margin-right: 80px

    &-image
      width: 100%

    &-info-wrapper
      position: absolute
      top: 0
      left: 0
      width: 80%
      height: calc(100% - 6px)
      padding: 6%

    &-logo
      margin-bottom: 14%
    &-number
      margin-bottom: 6%
      font-size: 1.2rem

    &-row
      display: flex
      justify-content: space-between

    &-name
      font-size: .8rem
      text-transform: uppercase

    &-date
      font-size: .8rem
      text-transform: uppercase

  &__back
    position: relative
    width: 400px
    margin-top: 30px
    margin-left: 80px

    &-image
      width: 100%

    &-cvc
      position: absolute
      top: 43%
      right: 12%

      font-size: .8rem
      letter-spacing: .1rem

@media (max-width: 900px)
  .card
    position: relative
    width: 100%
    max-width: 600px

    &__front
      position: absolute
      top: 56%
      left: 0
      width: 100%
      z-index: 4

      &-image
        max-width: 400px
        width: 80%

      &-logo
        margin-bottom: 10%
        transform: translate(-15%, -20%) scale(.8)

      &-number
        font-size: 1.2rem

      &-name
        font-size: .8rem

      &-date
        font-size: .8rem

    &__back
      width: 100%
      margin-top: 0px
      margin-left: 0px
      padding-left: 80px
      
      &-image
        max-width: 400px

      &-cvc
        font-size: .6rem

@media (max-width: 480px)
  .card
    &__front
      &-logo
        margin-bottom: 5%

      &-number
        margin-bottom: 4%
        font-size: .9rem

      &-name
        font-size: .7rem

      &-date
        font-size: .7rem

    &__back
      width: 100%
      margin-top: 0px
      margin-left: 0px
      padding-left: 80px
      
      &-image
        max-width: 400px