.app
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  
  &__background
    position: absolute
    top: 0
    left: 0
    z-index: -1
    height: 100%

    & > img
      display: block
      width: 34vw
      height: 100%
    
    & > source
      width: 40%

  // &__card
  &__info
    width: 100%
    max-width: 360px
    margin-bottom: 20px
    margin-left: 5%

.info
  display: flex
  flex-direction: column

  &__row-date-cvc
    display: flex

  &__row-cvc
    margin-left: 40px

  &__confirm
    margin-top: 20px
    margin-bottom: 40px

@media (max-width: 900px)
  .app
    flex-direction: column
    justify-content: flex-start

    &__card
      margin: 40px 20px 0px 20px

    &__background
      height: 34%
      max-height: 320px
      width: 100%
      & > img
        width: 100vw

    &__info
      margin-top: 140px
      margin-bottom: 20px
      margin-left: 0
