.app
  position: relative
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  
  &__background
    position: absolute
    top: 0
    left: 0
    z-index: -1
    height: 100%

    & > img
      display: block
      height: 100%

  // &__card
  &__info
    margin-left: 4%

.info
  display: flex
  flex-direction: column
  max-width: 360px

  &__wrapper
    display: flex
  &__confirm
    // width: 100%

